/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/CentraNo2-Book.ttf');
  font-weight: 400;
}

:root {
  --font-family: 'Centra', sans-serif;

  --gradient-text: linear-gradient(90.21deg, rgba(106, 222, 18, 0.5) -5.91%, rgb(0, 97, 65) 111.58%);
  --gradient-bar: linear-gradient(90.21deg, rgba(106, 222, 18, 0.5) -5.91%, rgb(0, 97, 65) 111.58%);
  
  --color-bg: #fff;
  --color-text: #121212;
  --color-subtext: #004E36;
}
